body{
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;

}
h1{
    color: white;
}
main{
    background-color: green;
    border-radius: 20px;
    font-size:auto;
    
}
.container{
    margin: auto;
    max-width: 80%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 15px;
}
.foto1 {
    background-color: white;
    width: 300px;
    height: 100%;
    padding: 10px;
    margin: auto;
    border-radius: 15px;
 }
 .foto2 {
    background-color: white;
    width: 300px;
    height: 100%;
    padding: 10px;
    margin: auto;
    border-radius: 15px;

 }
 .foto3 {
    background-color: white;
    width: 300px;
    height: 100%;
    margin: auto;
    padding: 10px;
    border-radius: 15px;

 }
 .foto4 {
    background-color: white;
    width: 300px;
    height: 100%;
    padding: 10px;
    margin: auto;
    border-radius: 15px;

 }
 .foto5 {
    background-color: white;
    width: 300px;
    height: 100%;
    padding: 10px;
    border-radius: 15px;
    margin: auto;

 }

audio{
    font-size: auto;
    text-align: center;
}
.audio01{ 
    background-color: rgb(70, 6, 189);
    text-align: end;
    margin: auto;
    width: 80%;
    height: 20%;
    border-radius: 20px;

  
}
.audio02{
    background-color: rgb(170, 6, 189);
    text-align: initial;
    margin: auto;
    width: 80%;
    height: 20%;
    border-radius: 20px;

}
.audio03{
  background-color: rgb(170, 6, 189);
    text-align: initial;
    margin: auto;
    width: 80%;
    height: 20%;
    border-radius: 20px;

}
.audio04{
    background-color: rgb(170, 6, 189);
    text-align: initial;
    margin: auto;
    width: 80%;
    height: 20%;
    border-radius: 20px;

}